
<section id="register-page">
    <article class="register-page-container">
        <form #form="ngForm" class="register-page-form" (ngSubmit)="editHandler(form)">
            <h2>Create Course</h2>

            <label for="title">Title</label>
            <input #title="ngModel" type="text" class="form-control" ngModel required minlength="4" placeholder="Course title" name="title" value="">
           
            <ng-container *ngIf="title.touched">
                <div class="error-box" *ngIf="title.errors?.['required']">
                    <p>Course title is required </p>
                </div>
                <div class="error-box" *ngIf="title.errors?.['minlength']">
                    <p>Course title must be at least 4 characters long </p>
                </div>
            </ng-container>
           
            <label for="description">Description</label>
            <input #description="ngModel" ngModel required minlength="20" maxlength="50" type="text" class="form-control" placeholder="Description" name="description">
           
            <ng-container *ngIf="description.touched">
                <div class="error-box" *ngIf="description.errors?.['required']">
                    <p>Course description is required </p>
                </div>
                <div class="error-box" *ngIf="description.errors?.['minlength']">
                    <p>Course description must be at least 20 characters long </p>
                </div>
                <div class="error-box" *ngIf="description.errors?.['maxlength']">
                    <p>Course description must be at most 50 characters long</p>
                </div>
            </ng-container>
           
            <label for="imageUrl">Image url</label>
            <input #imageUrl="ngModel" type="text" class="form-control" pattern="^https?:\/\/.+$" placeholder="Image Url" ngModel required name="imageUrl" value="">

            <ng-container *ngIf="imageUrl.touched">
                <div class="error-box" *ngIf="imageUrl.errors?.['required']">
                    <p>Course Url image is required </p>
                </div>
                <div class="error-box" *ngIf="imageUrl.errors?.['pattern']">
                    <p>Invalid URL</p>
                </div>
            </ng-container>
           
           

            <label for="duration">Duration</label>
            <input #duration="ngModel" type="text" class="form-control" ngModel required placeholder="4 weeks" name="duration" value="">
           
            <ng-container *ngIf="duration.touched">
                <div class="error-box" *ngIf="duration.errors?.['required']">
                    <p>Duration is required</p>
                </div>
               
            </ng-container>
           
            <article class="register-page-button">
                <button class="btn-create">Create</button>
            </article>



        </form>


    </article>

</section>