<form class="search" action="" method="">
    <input type="search" name="" value="" placeholder="Search course...">
    <button type="submit" class="btn-search">
        <!-- Do not forget to change the path to the image -->
        <img src="../../../assets/search-icon.png" alt="search-icon">
        Search
    </button>
</form>

<section id="search-page">

    <h2>Search result:</h2>
    <!--If there are a search matches, show each ad-->
    <article class="search-page-result">
        <p class="search-page-result-headline">Title: Title</p>
        <p class="search-page-result-companyName">Description:Description</p>
        <p class="search-page-result-companyName">Duration:Duration:</p>
    </article>

    <article class="search-page-result">
        <p class="search-page-result-headline">Title: Title</p>
        <p class="search-page-result-companyName">Description:Description</p>
        <p class="search-page-result-companyName">Duration:Duration:</p>
    </article>
  <!--If not show:-->
    <!--<article class="search-page-no-result">
        <p class="search-page-no-result-message">No match found.</p>
    </article>-->

</section>
