
.footer {
    background: rgb(234, 40, 115);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding: 0rem 4rem 0 3rem;
    margin: 0%;
    position: absolute;
    opacity: 0.7;
  
    height: 40px;
    font-size: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

