

<section id="viewhotelDetails">
    <div class="box">

        In case of error, you should display div with class "error-box"
         You can choose to display the first error or all of them (error message/s in your opinion)
        <div class="error-box">
            <p>Error</p>
        </div>
    </div>
    <div class="profile"><img src="../../../assets/logo.png" alt="default user">
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username: </p>
            <p>Johny</p>
        </div>
        <div class="flex">
            <p>My courses: </p>
            <p>
                <span>Sushi, </span>
                <span>Italian cooking, </span>
                <span>Pizza </span>
            </p>
        </div>
    </div>
</section>