

<section id="viewhotelDetails">
   
    <div class="profile"><img src="../../../assets/logo.png" alt="default user" >
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username:</p>
            <p>{{user?.username}}</p>
        </div>
        <div class="flex">
            <p>My courses: </p>
            <p>
                
                <span>Sushi, </span>
                <span>Italian cooking, </span>
                <span>Pizza </span>
            </p>
        </div>
    </div>
</section>