<section id="viewhotelDetails">

    <div class="profile"><img src="../../../assets/logo.png" alt="default user">
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username:</p>
            <p>{{userProfile?.username}}</p>
        </div>
        <div class="flex">
            <p>My courses:</p>
                <div [innerText]="myCoursesString"></div>
        </div>
        <div class="flex">
            <p>My enrolled courses:</p>              
                <div [innerText]="myEnrolledCourses"></div>
    
        </div>
    </div>

</section>